<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
                           http://mybatis.org/schema/mybatis-spring
                           http://mybatis.org/schema/mybatis-spring.xsd
                           "
>
    <!-- @Aspect어노테이션이 있는 클래스를 자동으로 찾아서 설정해줌 -->
    <aop:aspectj-autoproxy/>
    
    <bean class="org.springframework.transaction.aspectj.AnnotationTransactionAspect" factory-method="aspectOf">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" mode="aspectj" />

    <jdbc:embedded-database id="embeddedDataSource" type="H2">
		<jdbc:script location="classpath:sqlconfig/create-db.sql" />
	</jdbc:embedded-database>

    <!-- TransactionManager의 이름이 transactionManager라면 transaction-manager 속성 생략 가능 -->
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="get*" read-only="true" />
            <tx:method name="count*" read-only="true" />
            <tx:method name="select*" read-only="true" />
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="duringAdvice" class="com.tobsec.service.DuringTimeAdvice" />

    <aop:config>
        <aop:pointcut id="servicePoint" expression="execution(* com.tobsec.service.*ServiceImpl.*(..))" />

        <!-- pointcut-ref인 경우 pointcut 객체(Customizing), ref가 안 붙으면 포인트컷 표현식 -->
        <aop:advisor advice-ref="txAdvice" pointcut="bean(confirmService)" />

        <aop:aspect id="measureAspect" ref="duringAdvice" order="0">
            <aop:around pointcut-ref="servicePoint" method="measure" />
        </aop:aspect>

    </aop:config>

    <context:component-scan base-package="com.tobsec">
        <context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration" />
    </context:component-scan>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    
    <bean id="sqlService" class="com.tobsec.service.sql.SqlServiceImpl" />

    <bean id="sqlReader" class="com.tobsec.service.sql.reader.GensonSqlReader">
        <property name="configFile" value="sqlconfig/sqlMap.json" />
    </bean>

    <bean id="sqlRegistry" class="com.tobsec.service.sql.registry.HashMapSqlRegistry" />
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
    <!-- MyBatis 연동용 Bean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!-- Alias -->
        <property name="typeAliasesPackage" value="com.tobsec.model" />
        <!-- Mapper 경로 지정 mapper/mybatis 패키지 및 모든 서브 패키지의 xml 파일 탐색 -->
        <property name="mapperLocations" value="classpath*:mapper/mybatis/**/*.xml" />
    </bean>

    <!-- 
    <mybatis:scan base-package="com.tobsec.dao.mapper.mybatis" />
    -->    

    <!-- User Level UP 전략 -->
    <bean id="levelUpStrategy" class="com.tobsec.service.StrategyFactory"
        factory-method="defaultStrategy"
    />

    <bean class="com.tobsec.common.LogApprovalProcessor" />

</beans>