<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </layout>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- %cyan(%logger{20}) : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TemplateLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/jdbcTemplate.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <maxFileSize>50MB</maxFileSize>
            <!-- TimeBasedRollingPolicy로 설정하였을 경우 아래 주석 해제 시 Max 크기 설정할 수 있음 -->
            <!-- 
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            -->
            <fileNamePattern>logs/old/jdbcTemplate.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory> 
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- %cyan(%logger{20}) : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 
        DefaultListableBeanFactory : Bean 등록 관련
        NameMatchTransactionAttributeSource : tx:advice를 통해 작성한 트랜잭션 관련 옵션 출력
        JdbcTemplate : JdbcTemplate으로 인한 쿼리 및 결과
        SimpleDriverDataSource : DB 사용했다는 것을 남겨놓기 위한 클래스
    -->

    <logger name="org.springframework.test.context.support.DefaultTestContextBootstrapper" level="OFF"/>

    <!-- 커넥션 정보가 로그에 출력됨 -->
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="OFF"/>

    <!-- 커넥션 정보가 로그에 출력됨 -->
    <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="OFF"/>
    
    <!-- Mybatis SQL 출력 -->
    <logger name="mapper.mybatis" level="OFF" />
    
    <logger name="org.springframework.beans" level="OFF"/>

    <!-- Transaction 생성 여부 확인하였으니 없어도 상관 없음 -->>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="OFF"/>
    <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="OFF"/>
    <!-- Transaction 생성 여부 확인하였으니 없어도 상관 없음 -->

    <!-- Test 시 스프링 설정 파일 및 테스트 실행 시 활성 Profile들을 검색 -->
    <logger name="org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate" level="OFF"/>
    
    <!-- Test 클래스 생성 시 의존 관계 출력 -->
    <logger name="org.springframework.test.context.support.DependencyInjectionTestExecutionListener" level="OFF"/>

    <logger name="org.springframework.test.context.support.AbstractDirtiesContextTestExecutionListener" level="OFF"/>
    
    <logger name="org.springframework.test.annotation.ProfileValueUtils" level="OFF"/>

    <!-- JPA에서 Attribute 매칭 시키는거 출력  -->
    <logger name="org.hibernate.persister.walking.spi.MetamodelGraphWalker" level="OFF"/>

    <logger name="org.hibernate.cfg.Settings" level="OFF"/>

    <logger name="org.hibernate.cfg.Ejb3Column" level="OFF"/>

    <logger name="org.hibernate.type.BasicTypeRegistry" level="OFF"/>

    <logger name="org.hibernate.impl.SessionFactoryImpl" level="OFF"/>

    <logger name="org.hibernate.cfg.annotations.SimpleValueBinder" level="OFF"/>
    
    <!-- Mybatis Mapper 및 설정 -->
    <logger name="org.mybatis.spring.SqlSessionFactoryBean" level="OFF"/>

    <logger name="org.hibernate" additivity="false" >
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.hql.ast.AST" additivity="false" >
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.tool.hbm2ddl" additivity="false" >
        <level value="WARN" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.cache" additivity="false" >
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.hql" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.jdbc" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Parameter 추적 -->
    <logger name="org.hibernate.type" additivity="false" >
        <level value="TRACE" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.hibernate.SQL" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- 
    <logger name="org.springframework.jdbc.core" level="debug" additivity="false">
        <appender-ref ref="TemplateLogFile" />
    </logger>
    -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>